div.app{
    display: flex;
    width: 90%;
    background-color: #ddd;
    margin: 0 auto;
    flex-direction: column;
    min-height: 100vh;
    color:#222;
}

header{
    flex-basis: 10vh;
    background-color: #222;
    color: #ddd;
}

main{
    flex-grow: 1;
    padding: 30px 0;
    color: red;
}

footer{
    background-color: black;
    color: blanchedalmond;
    padding: 10px;
    text-align: center;
}